extends layout.pug

block content
    
    div.container
        h1 #{contact ? 'Edit' : 'Create'} Contact

        div.typingPage

            form(action=`${contact ? '/' + contact.id + '/edit' : '/create'}`, method='post')

                fieldset.colorBox
                    legend Basic Info
                    section
                        label(for='first_name') First Name:
                        br
                        input(type='text', value=contact ? contact.first_name : '', name='first_name' required)
                    section
                        label(for='last_name') Last Name:
                        br
                        input(type='text', value=contact ? contact.last_name : '', name='last_name' required)
                    section
                        label(for='phone') Phone:
                        br
                        input(type='text', value=contact ? contact.phone : '', name='phone' required)
                    section
                        label(for='email') Email:
                        br
                        input(type='email', value=contact ? contact.email : '', name='email' required)

                fieldset.colorBox
                    legend Address
                    section
                        label(for='street') Street:
                        br
                        input(type='text', value=contact ? contact.street : '', name='street' required)
                    section
                        label(for='city') City:
                        br
                        input(type='text', value=contact ? contact.city : '', name='city' required)
                    section
                        label(for='state') State:
                        br
                        input(type='text', value=contact ? contact.state : '', name='state' required)
                    section
                        label(for='zip') Zip:
                        br
                        input(type='text', value=contact ? contact.zip : '', name='zip' required)
                    section
                        label(for='country') Country:
                        br
                        input(type='text', value=contact ? contact.country : '', name='country' required)

                fieldset.colorBox
                    legend Contact Preferences
                    section
                        input(type='checkbox', checked=contact && contact.contact_phone === 1, name='contact_phone')
                        label(for='contact_phone') Contact by phone
                    section
                        input(type='checkbox', checked=contact && contact.contact_email === 1, name='contact_email')
                        label(for='contact_email') Contact by email
                    sectionct
                        input(type='checkbox', checked=contact && contact.contact_mail === 1, name='contact_mail')
                        label(for='contact_mail') Contact by mail

                div.horizontalElements.smallContainer
                    div.left
                        button(type='submit') #{contact ? 'Save' : 'Add'}
                    a.linkButton(href='/') Cancel
            
