extends layout.pug

block content

    div.container
        div.horizontalElements
            div.left
                h1 Contact List 
            div.right
                a.linkButton(href='/create') New contact

        div.colorBox
            table(id="contactsTable")  
                tbody 
                    if (contacts)
                        each contact in contacts
                            tr
                                td
                                    section
                                        a(href=`/${contact.id}`)= `${contact.first_name} ${contact.last_name}`
                                td
                                    section
                                        | #{contact.phone}
                                td
                                    section
                                        | #{contact.email}
                                td
                                    section
                                        | #{contact.address}
                                td 
                                    section
                                        label
                                            input(type="checkbox" checked=contact.contact_phone === 1 disabled)
                                            | Phone
                                        br
                                        label
                                            input(type="checkbox" checked=contact.contact_email === 1 disabled)
                                            | Email 
                                        br
                                        label
                                            input(type="checkbox" checked=contact.contact_mail === 1 disabled)
                                            | Mail
                                td(style="display:none;", id="lat") #{contact.lat}
                                td(style="display:none;", id="lng") #{contact.lng}
                            

        br
        h1 Contact Map
        .col-lg-8
            #map-container
                #map

    script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="")
    script(src="/map.js")
    script.
        createMarkers()

